################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SEScripts/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/SEScripts/obj/Debug
/.vs/SEScripts/v14/.suo
/SEScripts/bin/Debug

\.vs/SEScripts/v15/
